@import './variables.css';

header { /*This is the bar that appears at the top of the game.*/
    background-color: #E05B2B; /*var(--headerFill);*/
    min-height: 6vh; /*This means 8% of the viewport height.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(6px + 4vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
}

h1 { /*Big sweeping labels/headers*/
    font-size: calc(6px + 10vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
    font-weight: normal;
    font-style: italic;
}

h2 { /*Large labels.*/
    font-size: calc(6px + 4vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
    font-weight: normal;
}

h6 { /*Notification and/or error text.*/
    font-family: var(--textFont);
    font-weight: normal;
    font-size: calc(3px + 1.5vmin);
    color: var(--textColorHighlight);
    margin: 3px;
}

p {
    font-family: var(--textFont);
    font-weight: normal;
    font-size: calc(4px + 2vmin);
    color: var(--textColorOnDark);
}

/* Credit to https://designtheway.com/css-buttons/ for the CSS source code.*/
button {
    background:transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: calc(6px + 4vmin);
    font-family: var(--headerFont);
    color: var(--headerTextColor);
    background: var(--buttonFill);
    line-height: 1;
    margin: 18px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    border-radius: 10px;
    top:0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    box-shadow: 0 5px 0 var(--buttonShadowFill);
}

button:hover{
    background: var(--buttonHoverFill);
}

button:focus{
    top:5px;
    box-shadow: 0 0px 0 var(--buttonShadowFill);
}

button:disabled{

}
