@import './variables.css';

header { /*This is the bar that appears at the top of the game.*/
    background-color: #E05B2B; /*var(--headerFill);*/
    min-height: 6vh; /*This means 8% of the viewport height.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(6px + 4vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
}

h1 { /*Big sweeping labels/headers*/
    font-size: calc(6px + 10vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
    font-weight: normal;
}

h2 { /*Large labels.*/
    font-size: calc(6px + 4vmin); /*This means 10px plus 2% of the window's smallest dimension.*/
    font-family: var(--headerFont);
    color: var(--headerTextColor);
    font-weight: normal;
}

h6 { /*Notification and/or error text.*/
    font-family: var(--textFont);
    font-weight: normal;
    font-size: calc(3px + 1.5vmin);
    color: var(--textColorHighlight);
    margin: 3px;
}

p {
    font-family: var(--textFont);
    font-weight: normal;
    font-size: calc(4px + 2vmin);
    color: var(--textColorOnDark);
}

