@import './variables.css';

.selectable {
    background-color: var(--selectionNone);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.selectable.selected {
    background-color: var(--selectionPressed);
}

.selectable:hover {
    background-color: var(--selectionHover);
}

.selectable:active {
    background-color: var(--selectionPressed);
}

