# Build Directories
build
out
bin

# Gradle stored files
.gradle

# VSCode Workspace Configuration
.idea/
*.iml
*.ipr
*.iws
.DS_Store
.vscode/

# Firebase Hosting Files
**/.firebase
**/.firebaserc
**/firebase.json

# Node
**/node_modules/