<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="game" level="debug" />
    <logger name="server" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>