@import '../variables.css';

#alert {
    position: absolute;
    width: 100%;
    height: 93vh;
    align-items: center;
    display: flex;
    visibility: hidden;
    z-index: 75;
}

#alert-background {
    position: fixed;
    width: 100%;
    height: 100ch;
    min-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 50;
    background-color: var(--alertFill);
    opacity:var(--alertOverlayOpacity);
}

#alert-box {
    position: relative;
    z-index: 60;
    opacity: 1;
    min-width: 80vmin;
    max-width: 40vw;
    min-height: 60vmin;
    margin: auto auto;
    padding: 20px;
    background-color: var(--alertFill);
    text-align: center;
}

h2 {
    text-align: left;
    margin: 10px;
}

.left-align {
    text-align: left;
}

/* DEFAULT APPEAR */

.appear-customalert{
    transition-timing-function: ease-in-out;
    -webkit-animation: appear 0.5s;
    animation: appear 0.5s;
    visibility: visible;
    transition: visibility 0.5s;
    opacity: 1;
}

.disappear-customalert {
    transition-timing-function: ease-in-out;
    -webkit-animation: disappear 1s;
    animation: disappear 1s;
    visibility: hidden;
    transition: visibility 0.5s;
}

@-webkit-keyframes appear {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes appear {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes disappear {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100%{opacity: 0;}
}

@keyframes disappear {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100%{opacity: 0;}
}

/* BACKGROUND APPEAR/DISAPPEAR */

#alert-background.appear-customalert {
    -webkit-animation: appear-background 0.5s;
    animation: appear-background 0.5s;
}

#alert-background.disappear-customalert {
    -webkit-animation: disappear-background 1s;
    animation: disappear-background 1s;
}

@-webkit-keyframes appear-background {
    0% {opacity: 0; visibility: visible}
    50% {opacity: var(--alertOverlayOpacity);}
}

@keyframes appear-background {
    0% {opacity: 0; visibility: visible}
    50% {opacity: var(--alertOverlayOpacity);}
}

@-webkit-keyframes disappear-background {
    0% {opacity: var(--alertOverlayOpacity); visibility: visible}
    40% {opacity: var(--alertOverlayOpacity); visibility: visible}
    100% {opacity: 0; visibility: hidden}
}

@keyframes disappear-background {
    0% {opacity: var(--alertOverlayOpacity); visibility: visible}
    40% {opacity: var(--alertOverlayOpacity); visibility: visible}
    100% {opacity: 0; visibility: hidden}
}
