@import '../variables.css';

#player-container {
    position:relative;
    margin: 5px;
    border-radius: 16%/10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#player-container.darken {
    filter: none;
}

#player-container.highlight {
    background-color: var(--selectionHover);
}

#player-image {
    width: 16vmin;
    height: auto;
    display: block;
}

#player-image.darken {
    filter: brightness(calc(var(--playerBrightnessFilter) - 5%));
}

#player-name {
    position:absolute;
    color: var(--backgroundDark);
    font-family: var(--textFont);
    top: 64%;
    left: 10%;
    width: 13vmin;
    height: 3vmin;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#player-name.darken {
    color: var(--textShadowed);
}

#player-identity-icon {
    position:absolute;
    top: 73%;
    left: 8%;
    width: 4.5vmin;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#player-busy-icon {
    position: absolute;
    top: 43%;
    left: 50%;
    width: 6vmin;
}

#player-identity-label {
    position:absolute;
    top: 69%;
    left: 38%;
    font-size: calc(2vmin);
    color: var(--textColorHighlight);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#player-identity-label.liberal-text {
    color: var(--textColorLiberal);
}

#player-disabled-label {
    position:absolute;
    top: 0;
    left: 0;
    font-family: var(--headerFont);
    color: var(--playerDisabledTextColor);
    padding: 15% 0;
    height: 100%;
    width: 100%;
    font-size: 3vmin;
    font-weight: normal;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.darken {
    filter: brightness(var(--playerBrightnessFilter));
}